---
import colors from "../../colors";
import Base from "../base/BaseLayout.astro";
import Termlink from "../../../core/term/TermLink.astro";
import Header from "../../Header/Header.astro";
const { frontmatter } = Astro.props;

const title = frontmatter?.title || "Hello World"; // Default title if frontmatter?.title is undefined
const pubDate = frontmatter?.pubDate; // Default pubDate if frontmatter?.pubDate is undefined
const author = frontmatter?.author || "Yash Diniz"; // Default author if frontmatter?.author is undefined
const authorLink = frontmatter?.authorLink || "/"; // Default authorLink if frontmatter?.authorLink is undefined
const description =
  frontmatter?.description || "A blog about software dev, tech, and life."; // Default description if frontmatter?.description is undefined
---

<Base title={title}>
  <Header />
  <div style="margin: 20px auto; padding: 10px; max-width: 768px;">
    <header>
      <h1 class="post-title">{title}</h1>
      <p class="post-meta">
        {pubDate ? `${new Date(pubDate).toDateString()}  ·` : ""}&nbsp;
        <Termlink href={authorLink} text={author} animate />
        <br /><br />
        <h4>TL;DR</h4>
        {description}
      </p>
    </header>
    <hr />
    <div style="margin: 40px auto;">
      <slot />
    </div>
    <hr />
    <script
      src="https://utteranc.es/client.js"
      is:inline
      repo="yashdiniz/yashdiniz.github.io"
      issue-term="pathname"
      theme="github-dark"
      crossorigin="anonymous"
      async></script>
    <!-- <div
      style="margin: 30px auto; display: flex; align-items: center; justify-content: center;"
    >
      <span style="padding: 10px;">Made with ❤️ by </span>
      <Termlink href="/" text="Yash Diniz" animate />
    </div> -->
  </div>
  <style is:global define:vars={{ white: colors.white }}>
    body {
      font-size: 18px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--white);
    }
    h1.post-title {
      font-size: 40px;
    }
    h2 {
      padding-top: 20px;
    }
    .post-meta {
      font-size: 16px;
      color: #aaa;
    }
  </style>
</Base>
