---
import Base from "../layouts/Base.astro";

const identity = {
	firstName: "Yash",
	country: "India",
	occupation: "Backend Developer",
	hobbies: ["journalling", "reading", "coding"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<Base title="About me">
	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		{
			identity.hobbies.length >= 2 && (
				<li>
					Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
				</li>
			)
		}
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li>{skill}</li>)}
	</ul>
	<style define:vars={{ skillColor, fontWeight, textCase }}>
		h1 {
			color: purple;
			font-size: 4rem;
		}
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}
	</style>
</Base>
